bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
.DS_Store
MyProduce-Service/MyProduce-API.sln.DotSettings.user
.vscode/tasks.json
.vscode/launch.json
.containers/
.coveragereport/
MyProduce-Service/TestResults/
Partners-Service/TestResults/
MyProduce-Service/coveragereport/
coverage.cobertura.xml
.vscode
.cursor
